<div class="container-fluid">
    <div class="row">
        <div class="col-sm-11">
            <div class="container-search">
                <input class="form-control form-control-lg" type="search" placeholder="Buscar" autofocus
                       ng-model="p.title">
            </div>
        </div>
        <div class="col-sm-1">
            <label class="custom-control custom-checkbox pull-right">
                <input type="checkbox" class="custom-control-input" ng-model="online" ng-change="changeOnline()">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Online</span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12" ng-repeat="project in projects| filter: p">
            <div class="card">
                <h3 class="card-header">
                    <a href="http://drupal.org/project/{{ project.short_name }}" target="_blank">
                        {{project.title}}
                    </a>
                </h3>
                <div class="card-block">
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Version</th>
                            <th>Download</th>
                            <th>Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="release in project.releases" ng-if="release.download">
                            <td>{{release.version}} {{ release.corrupt }}</td>
                            <td><a href="{{release.download_link}}">tar.gz ({{ release.filesize}})</a></td>
                            <td>{{release.date}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
