/* app css stylesheet */
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
}

.container-search {
    margin: 20px auto;
}

.navbar {
    border-radius: 0;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-control {
    border-radius: 0;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #ccc;
}

.spinner {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    border: 0;
    background: rgba(235,140,32,0.7);
    z-index: 999;
    color: #000;
}
.bd-content{
    margin-top: 20px;
}