<div class="container-fluid">

    <div class="row">
        <div class="col-md-3 col-md-push-9 bd-sidebar">

        </div>
        <div class="col-md-9 col-md-pull-3 bd-content">
            <h3>Install Server</h3>
            <h5>Requierements</h5>
            <ul>
                <li>Nginx</li>
                <li>uWsgi</li>
                <li>Plugins python for uwsgi ( apt-get install uwsgi-plugin-python )</li>
                <li>lpthw.web (sudo pip install lpthw.web)</li>
            </ul>
            <h5>Prepare directory</h5>

            <p>Clone repository <a href="http://gitd7.datys.cu/mdrupal.git">git@gitd7.datys.cu:devops/mdrupal.git</a>.
                Create folders where store modules and xml with information.</p>
            <pre>
                <code class="bash">
mkdir -p release-history
mkdir -p ftp.drupal.org/projects/
mkdir -p ftp.drupal.org/translations/
mkdir -p logs
                </code>
            </pre>
            <p>Set permissions write and read for uwsgi user.</p>

            <h5>Configure uwsgi</h5>

            <p>Create uwsgi-mdrupal.conf from uwsgi-mdrupal-example.conf.</p>
            <p>Edit uwsgi-mdrupal.conf and set variables:</p>

            <pre>
                <code class="plain">
# master is user execute uwsgi
gid = master
uid = master
chown-socket = master
chdir = /dirapp/app
Configure nginx
                </code>
            </pre>
            <p>Create nginx-mdrupal.conf from nginx-mdrupal-example.conf.</p>
            <p>Edit nginx-mdrupal.conf and set variables:</p>
            <pre>
                <code class="plain">
access_log /dirapp/logs/nginx-access.log;
error_log /dirapp/logs/nginx-error.log;
uwsgi_param UWSGI_CHDIR /dirapp/app;
                </code>
            </pre>
            <h5>Create link simbilic to servers</h5>
            <pre>
                <code class="bash">
ln -s /dirspp/config/nginx-mdrupal /etc/nginx/sites-enabled/mdrupal
ln -s /dirapp/config/uwsgi.ini /etc/uwsgi/apps-enabled/mdrupal.ini
                </code>
            </pre>

            <h3>Restart server</h3>
            <pre>
                <code class="bash">
service uwsgi restart
service nginx restart
                    </code></pre>
            <h3>Run server on fly</h3>
            <pre>
                <code class="bash">
python app/index.py 9900
                </code></pre>
        </div>
    </div>
</div>
